.settings

# ignore .git and .cache folders
.git
.cache

# ignore all markdown files (md) beside all README*.md
*.md
!README*.md

# CMake
cmake-build-*/

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

